PORT=3000

# SQL Server
DB_HOST=localhost
DB_PORT=1433
DB_USERNAME=your_sql_server_username
DB_PASSWORD=your_sql_server_password
DB_DATABASE=your_database_name
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
# Chỉ bật true ở môi trường phát triển khi bạn hiểu rõ ảnh hưởng tới schema.
DB_SYNCHRONIZE=false
